@import "tailwindcss";
@layer base {
  body {
    @apply bg-black overflow-x-hidden text-white;
  }


}
.brain-icon {
  animation: floaty 2s ease-in-out infinite;
}

@keyframes floaty {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}


  @keyframes stars {
          0% { background-position: 0 0; }
          100% { background-position: -1000px 1000px; }
        }
        .animate-stars {
          animation: stars 100s linear infinite;
        }
        @keyframes float {
          0%, 100% { transform: translateY(0); }
          50% { transform: translateY(-10px); }
        }
        .animate-float {
          animation: float 3s ease-in-out infinite;
        }


